{{#if user}}
<div class="flex items-center justify-between p-2 shadow-[0px_2px_0px_rgba(0,0,0,0.2)]">
  <h2 class="text-2xl font-normal leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Bienvenido <b
      class="font-bold text-teal-500">{{user.first_name}}, {{user.last_name}} </b></h2>
  <div class="flex justify-end  ">
    <a href="/carts/{{user.cart}}"
      class="text-lg font-semibold leading-6 text-gray-900 px-4 hover:text-teal-500">Carrito</a>
    <a href="/profile" class="text-lg font-semibold leading-6 text-gray-900 px-4 hover:text-teal-500">Perfil</a>
    <a href="/api/sessions/logout" class="text-lg font-semibold leading-6 text-gray-900 hover:text-teal-500">Logout </a>
  </div>
</div>
{{/if}}

<div class="flex flex-column  flex-nowrap">
  <div>
    <h3 class="text-2xl my-10 font-extrabold text-center">Formulario de carga</h3>
    <div class=" mt-8 mx-auto max-w-md">
      <div class="bg-white py-8 px-4 shadow">

        <form id="createProductForm" action="/api/products" method="post" enctype="multipart/form-data"  class="space-y-5">
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="title">Title</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
              id="title" name="title" placeholder="Titulo">
          </div>
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="description">Descripcion</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
              id="description" name="description" placeholder="Descripcion">
          </div>
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="category">Categoria</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text" id="category"
              name="category" placeholder="Categoria">
          </div>
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="price">Precio</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
              id="price" name="price" placeholder="Precio">
          </div>
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="code">Codigo</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text" id="code"
              name="code" placeholder="Codigo">
          </div>
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="stock">Stock</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="text"
              id="stock" name="stock" placeholder="Stock">
          </div>
          <div>
            <label class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="files">Thumbnail</label>
            <input class="w-full px-3 py-2 border border-gray-500 rounded-md placeholder-gray-400" type="file"
              id="files" name="files"  multiple="multiple">
          </div>
          <div class="py-10 ">
            <button class="hover:bg-teal-700 w-full bg-teal-600 text-white font-bold py-3 cursor-pointer"
              id="createBTN" type="submit" >Argegar Producto</button>
            {{!-- <input type="submit" name="submit" value="Submit"> --}}
          
          </div>
        </form>
        
      </div>
    </div>
  </div>
  <div>
    <h3 class="text-2xl my-10 font-extrabold text-center">Lista Product</h3>
    <table id="realProductsTable" class="shadow-lg bg-white mt-8 mx-auto max-w-md">
      <thead>
        <tr>
          <td class="bg-blue-100 border text-left px-8 py-4"></td>
          <td class="bg-blue-100 border text-left px-8 py-4"><strong>Producto </strong></td>
          <td class="bg-blue-100 border text-left px-8 py-4"><strong>Descripcion</strong></td>
          <td class="bg-blue-100 border text-left px-8 py-4"><strong>Precio</strong></td>
          <td class="bg-blue-100 border text-left px-8 py-4"><strong>Codigo</strong></td>
          <td class="bg-blue-100 border text-left px-8 py-4"><strong>Stock</strong></td>
          <td class="bg-blue-100 border text-left px-8 py-4"><strong>thumbnail</strong></td>
        </tr>
      </thead>
      <tbody>
        {{#each products.payload}}
        <tr>
          <td class="border px-8 py-4">
            <button class="hover:bg-red-700 w-full bg-red-600 text-white font-bold p-2 cursor-pointer rounded-md "
              onclick="deleteProduct('{{this._id}}')"
              id="btnDelete"
            >Eliminar</button>
          </td>
          <td class="border px-8 py-4">{{this.title}}</td>
          <td class="border px-8 py-4">{{this.description}}</td>
          <td class="border px-8 py-4">{{this.price}}</td>
          <td class="border px-8 py-4">{{this.code}}</td>
          <td class="border px-8 py-4">{{this.stock}}</td>
          <td class="border px-8 py-4">
            {{#each this.thumbnail}}
            <img src="http://localhost:8000/src/public/img/{{this}}" alt="{{this}}" width="50" height="50">
            {{!-- <img src="../../src/public/img/nike.jpeg" alt="{{this.filename}}"> --}}

            {{/each}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/createPorduct.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>