{{#if user}}
  <div >
    <h1>Bienvenido {{user.role}}: {{user.first_name}} {{user.last_name}} !</h1>
  </div>
{{/if}}
<div class="g mt-1 mx-auto max-w-md">
<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="relative mx-4 mt-4 h-96 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
    <img
      src=" http://localhost:8000/img/{{productById.thumbnails}}"
      class="h-50 w-50 object-cover"
    />
  </div>
  <div class="p-6">
    <div class="mb-2 flex items-center justify-between">
      <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
        {{productByID.title}}
      </p>
      <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
        ${{productByID.price}}
      </p>
    </div>
    <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
      {{productByID.description}}
    </p>
    <p>{{productById._id}}</p>
  </div>
  <div class="p-6 pt-0">
    <button
      class="block w-full select-none rounded-lg bg-green-300 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none hover:bg-green-400"
      type="button"
      onclick="addToCart(`{{productByID._id}}`)"
    >
      Agregar al carrito
    </button>
  </div>
</div>
</div>
<script src="/js/products.js"></script>