<h1>Formulario de carga</h1>
<hr/>
<form id="createForm">
  <div>Title: <input type="text" id="title"> </div>
  <div>Descripcion: <input type="text" id="description"> </div>
  <div>Precio: <input type="text" id="price"> </div>
  <div>Codigo: <input type="text" id="code"> </div>
  <div>Stock: <input type="text" id="stock"> </div>
  <div>Thumbnail: <input type="file" id="thumbnail"> </div>
    {{!-- <div>
    <label for="title">Titulo</label>
    <input name="title" type="text" placeholder="Titulo"> 
  </div>
   <div>
    <label for="description">Descripcion</label>
    <input name="description" type="text" placeholder="Descripcion">
  </div>
   <div>
    <label for="price">Precio</label>
    <input name="price" type="text" placeholder="Precio">
  </div>
   <div>
    <label for="code">Codigo</label>
    <input name="code" type="text" placeholder="Codigo">
  </div>
   <div>
    <label for="stock">Stock</label>
    <input name="stock" type="text" placeholder="Stock">
  </div>
  <input type="submit" value="Crear Producto"> --}}
</form>
<button id="createBtn">Argegar Producto</button>

<h2>Lista Product</h2>
<table id="realProductsTable">
  <thead>
    <tr>
      <td></td>
      <td><strong>Producto </strong></td>
      <td><strong>Descripcion</strong></td>
      <td><strong>Precio</strong></td>
      <td><strong>Codigo</strong></td>
      <td><strong>Stock</strong></td>
      <td><strong>thumbnail</strong></td>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td><button onclick="deleteProduct({{this.id}})">Eliminar</button></td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
      {{#each this.thumbnail}}
      <td>
          <img src=" http://localhost:8000/img/{{this.filename}}" alt="{{this.filename}}" width="50" height="50">
          {{!-- <img src="../../src/public/img/nike.jpeg" alt="{{this.filename}}" > --}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>